{
    "actions" : [
        {% for i in aliases %}
        {
            "add" : {
                 "index" : "{{ i.index }}",
                 "alias" : "{{ i.alias }}",
                 "filter" : {{ i.filter}}
            }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}